# node_modules
node_modules/
dist/
dist-ssr/
*.local

# Editor folders
.vscode/
.idea/
.DS_Store

# Secrets
.env
.env.local
firebase-applet-config.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
